<h2 class="mt-2 text-center">Crea nuovo Admin</h2>
<!-- <p class="mx-3">
  Puoi ricercare i clienti, a seconda delle informazioni necessarie
</p> -->

<div class="row mb-3">
  <div class="col-12 col-md-6 col-lg-4 mb-3">
    <button mat-raised-button class="btn btn-">
      Crea Admin con profilo cliente
    </button>
  </div>
  <div class="col-12 col-md-6 col-lg-4 mb-3">
    <button mat-raised-button class="btn btn-">
      Crea Admin con profilo cliente
    </button>
  </div>
</div>
<div class="container my-5 px-5">
  <p>Seleziona che tipologia di Admin si vuole creare</p>
  <button mat-flat-button color="primary" class="mb-3">
    Crea Admin senza profilo cliente
  </button>
  <button mat-flat-button color="primary" class="ms-3 mb-3">
    Crea Admin con profilo cliente
  </button>
</div>
<app-profilo [editMode]="true" [isRegistrazione]="true"></app-profilo>
