<!-- EDIT MODE FALSE: TEMPLATE VISUALIZZAZIONE PROFILO-->

<div *ngIf="!editMode" class="profile-container mt-4 mb-4">
  <div class="profile-header">
    <h2>
      Profilo Cliente:
      <span>{{ clienteForm.value.nome }} {{ clienteForm.value.cognome }} </span>
    </h2>
  </div>

  <div class="profile-image">
    <img
      [src]="clienteForm.value.immagineCliente || immagineDefault"
      alt="immagine profilo cliente"
      class="profile-img"
    />
  </div>

  <div>
    <h5>Nome:</h5>
    <p>{{ clienteForm.value.nome }}</p>
  </div>

  <div>
    <h5>Cognome:</h5>
    <p>{{ clienteForm.value.cognome }}</p>
  </div>

  <div>
    <h5>Email:</h5>
    <p>{{ clienteForm.value.email }}</p>
  </div>

  <div>
    <h5>Username:</h5>
    <p>{{ clienteForm.value.username }}</p>
  </div>
  <div>
    <h5>Telefono:</h5>
    <p>{{ clienteForm.value.telefono }}</p>
  </div>

  <div>
    <h5>Via:</h5>
    <p>{{ clienteForm.value.via }}</p>
  </div>

  <div>
    <h5>Comune:</h5>
    <p>{{ clienteForm.value.comune }}</p>
  </div>

  <div>
    <h5>Provincia:</h5>
    <p>{{ clienteForm.value.provincia }}</p>
  </div>

  <div>
    <h5>CAP:</h5>
    <p>{{ clienteForm.value.cap }}</p>
  </div>

  <div>
    <h5>Data di Registrazione:</h5>
    <p>{{ dataRegistrazione | date : "dd/MM/yyyy" }}</p>
  </div>
  <button (click)="onEditUser()" mat-fab extended class="w-100">
    Modifica
  </button>
</div>

<!------------------------------------------ EDIT MODE: TRUE TEMPLATE PROFILO----------------------------------------------------------->
<div *ngIf="editMode" class="profile-container mt-4 mb-4">
  <div class="profile-header">
    <h2>
      {{
        isRegistrazione
          ? "Registrazione"
          : "Profilo Cliente: " +
            (clienteForm.value.nome || "") +
            " " +
            (clienteForm.value.cognome || "")
      }}
    </h2>
  </div>

  <div class="profile-image">
    <img
      [src]="clienteForm.value.immagineCliente"
      alt="immagine profilo cliente"
      class="profile-img"
    />
  </div>

  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Immagine cliente</mat-label>
      <input
        matInput
        formControlName="immagineCliente"
        placeholder="Inserisci link immagine profilo"
      />
      <mat-error
        *ngIf="clienteForm.get('immagineCliente')?.hasError('required')"
      >
        L'immagine è obbligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nome</mat-label>
      <input
        matInput
        formControlName="nome"
        placeholder="Inserisci il tuo nome"
      />
      <mat-error *ngIf="clienteForm.get('nome')?.hasError('required')">
        Il nome è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Cognome</mat-label>
      <input
        matInput
        formControlName="cognome"
        placeholder="Inserisci il tuo cognome"
      />
      <mat-error *ngIf="clienteForm.get('cognome')?.hasError('required')">
        Il cognome è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Inserisci la tua email"
      />
      <mat-error *ngIf="clienteForm.get('email')?.hasError('required')">
        L'email è obbligatoria.
      </mat-error>
      <mat-error *ngIf="clienteForm.get('email')?.hasError('email')">
        Inserisci una email valida.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Telefono</mat-label>
      <input
        matInput
        type="tel"
        formControlName="telefono"
        placeholder="Inserisci il telefono"
      />
      <mat-error *ngIf="clienteForm.get('telefono')?.hasError('required')">
        Il telefono è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Username</mat-label>
      <input
        matInput
        formControlName="username"
        placeholder="Inserisci il tuo username"
      />
      <mat-error *ngIf="clienteForm.get('username')?.hasError('required')">
        Lo username è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Via</mat-label>
      <input
        matInput
        formControlName="via"
        placeholder="Inserisci la tua via"
      />
      <mat-error *ngIf="clienteForm.get('via')?.hasError('required')">
        La via è obbligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Comune</mat-label>
      <input
        matInput
        formControlName="comune"
        placeholder="Inserisci il comune"
      />
      <mat-error *ngIf="clienteForm.get('comune')?.hasError('required')">
        Il comune è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Provincia</mat-label>
      <input
        matInput
        formControlName="provincia"
        placeholder="Inserisci la tua provincia"
      />
      <mat-error *ngIf="clienteForm.get('provincia')?.hasError('required')">
        La provincia è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>CAP</mat-label>
      <input matInput formControlName="cap" placeholder="Inserisci il CAP" />
      <mat-error *ngIf="clienteForm.get('cap')?.hasError('required')">
        Il CAP è obbligatorio.
      </mat-error>
    </mat-form-field>

    <div class="d-flex gap-2 align-items-stretch">
      <!-- Bottoni modalita profilo-->
      <button
        *ngIf="!isRegistrazione"
        mat-fab
        extended
        (click)="onEditUser()"
        routerLink="/"
        class="btn-secondary-fab w-50"
      >
        Annulla
      </button>
      <button
        *ngIf="!isRegistrazione"
        class="w-50"
        mat-fab
        extended
        type="submit"
        [disabled]="clienteForm.invalid"
      >
        Salva
      </button>
    </div>
  </form>
</div>
