<div class="d-flex justify-content-center">
  <form class="mb-5" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <p *ngIf="!logged && messaggioErrore" class="text-danger">
      {{ messaggioErrore }}
    </p>

    <p class="form-title">Accedi al tuo account</p>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          id="email"
          formControlName="username"
          placeholder="Inserisci il tuo username"
          autocomplete="current-password"
        />
        <mat-error
          *ngIf="
            signinForm.get('username')?.invalid &&
            signinForm.get('username')?.touched
          "
        >
          <small *ngIf="signinForm.get('username')?.hasError('required')"
            >L'username è obbligatorio</small
          >
          <small *ngIf="signinForm.get('username')?.hasError('email')"
            >Inserisci un username valido</small
          >
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="passwordVisibile ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="Inserisci la tua password"
          autocomplete="current-password"
        />
        <mat-icon matSuffix (click)="toggleVisibilitaPassword()">
          {{ passwordVisibile ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="
            signinForm.get('password')?.invalid &&
            signinForm.get('password')?.touched
          "
        >
          <small *ngIf="signinForm.get('password')?.hasError('required')"
            >La password è obbligatoria</small
          >
        </mat-error>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="w-100"
      type="submit"
      [disabled]="!signinForm.valid"
    >
      Accedi
    </button>

    <p class="signup-link">
      Non hai un account?
      <a class="text-decoration-underline" routerLink="/registrazione"
        >Registrati</a
      >
    </p>
  </form>
</div>
