<div class="d-flex justify-content-center">
  <form class="mb-5 signin" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <p *ngIf="!logged && messaggioErrore" class="text-danger">
      {{ messaggioErrore }}
    </p>

    <p class="form-title">Accedi al tuo account</p>

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        placeholder="Inserisci il tuo username"
        autocomplete="current-password"
      />
      <div
        *ngIf="
          signinForm.get('username')?.invalid &&
          signinForm.get('username')?.touched
        "
        class="text-danger"
      >
        <h4
          class="error-msg-input"
          *ngIf="signinForm.get('username')?.hasError('required')"
        >
          L'username è obbligatorio
        </h4>
        <h4
          class="error-msg-input"
          *ngIf="signinForm.get('username')?.hasError('email')"
        >
          Inserisci un username valido
        </h4>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input
          [type]="passwordVisibile ? 'text' : 'password'"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Inserisci la tua password"
          autocomplete="current-password"
        />
        <div class="input-group-append">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="toggleVisibilitaPassword()"
          >
            <i
              class="fa"
              [ngClass]="passwordVisibile ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </button>
        </div>
      </div>
      <div
        *ngIf="
          signinForm.get('password')?.invalid &&
          signinForm.get('password')?.touched
        "
        class="text-danger"
      >
        <h4
          class="error-msg-input"
          *ngIf="signinForm.get('password')?.hasError('required')"
        >
          La password è obbligatoria
        </h4>
      </div>
    </div>

    <button
      mat-fab
      extended
      class="w-100"
      type="submit"
      [disabled]="!signinForm.valid"
    >
      Accedi
    </button>

    <p class="signup-link">
      Non hai un account?
      <a class="text-decoration-underline" routerLink="/registrazione"
        >Registrati</a
      >
    </p>
  </form>
</div>
