<div class="card">
  <img src="" class="example-card" alt="immagine-prodotto" />
  <div class="card-body">
    <div>
      <h5 class="card-titolo">{{ prodottoSelezionato.titolo }}</h5>
      <p class="card-artista">{{ prodottoSelezionato.artista }}</p>
      <p class="card-formato">{{ prodottoSelezionato.formato }}</p>
    </div>
    <div>
      <p class="card-prezzo">{{ prodottoSelezionato.prezzo }} €</p>
    </div>
    <div>
      <p>Anno pubblicazione: {{ prodottoSelezionato.annoPubblicazione }}</p>
      <p>Genere {{ prodottoSelezionato.genere }}</p>
      <p>Descrizione {{ prodottoSelezionato.descrizione }}</p>
      <p>Quantità rimaste: {{ prodottoSelezionato.quantita }}</p>
    </div>
  </div>
  <div class="card-buttons">
    <button mat-button>Acquista</button>
  </div>
</div>
