<div class="card">
  <div class="card-body" [ngClass]="{ 'responsive-body': responsive }">
    <img
      src="{{ prodotto?.immagineProdotto }}"
      class="example-card"
      [ngClass]="{ 'responsive-img': responsive }"
      alt="immagine-prodotto"
    />
    <div class="card-content" [ngClass]="{ 'responsive-content': responsive }">
      <h5 class="card-titolo" [ngClass]="{'titolo-dettaglio' : responsive}">{{ prodotto?.titolo }}</h5>
      <p class="card-artista">{{ prodotto?.artista }}</p>

      <ng-content for="div#card-infos"></ng-content>

      <p class="card-formato">{{ prodotto?.formato }}</p>

      <div>
        <p class="card-prezzo">{{ prodotto?.prezzo | currency : "EUR" }}</p>
      </div>
      <div>
        <div *ngIf="prodotto?.prodottiCarrello.length != 0">
          <mat-icon [matBadge]="prodotto?.prodottiCarrello[0].quantita" >shopping_cart</mat-icon>
        </div>
        
      </div>

      <ng-content for="div#card-buttons"></ng-content>
    </div>
  </div>
</div>
