.card {
  height: 100%;
  background-color: #c7ccdb;
  box-shadow: 3px 3px 8px #767b91;
}

.titolo-dettaglio {
  font-size: 2rem;
}

.card-body {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
}

.card-content {
  padding: 1em;
}

.immagine-prodotto {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-prezzo {
  font-size: 1.3em;
}

i.bi {
  font-size: 1.5rem;
}

.bi-suit-heart,
.bi-suit-heart-fill {
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .responsive-body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .responsive-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
  }
  .responsive-img {
    width: 40%;
    object-fit: scale-down;
  }
}

.card-formato {
  margin-top: 1em;
}
.card-genere {
  font-style: italic;
}
