<div class="overlay" *ngIf="showNavbar" (click)="closeNavbar()"></div>

<nav class="navbar navbar-expand-lg shadow">
  <div class="container d-flex justify-content-between px-2">
    <a class="nav-link" routerLink="/">
      <img
        class="d-block mx-2"
        src="logo.png"
        alt="logo"
    /></a>
    <button
      class="navbar-toggler border-0"
      type="button"
      (click)="toggleNavbar()"
    >
      <i class="bi bi-columns-gap"></i>
    </button>

    <div
      class="offcanvas offcanvas-end"
      [ngClass]="{ show: showNavbar }"
      tabindex="-1"
      id="offcanvasScrolling"
    >
      <!-- Pulsante per chiudere -->
      <button
        class="navbar-toggler border-0"
        type="button"
        (click)="toggleNavbar()"
      >
        <div class="d-flex justify-content-between p-3">
          <a class="nav-link" routerLink="/">
            <img
              class="d-block mx-auto"
              src="logo.png"
              alt="logo"
          /></a>
        </div>
        <i class="bi bi-columns-gap"></i>
      </button>

      <ul class="navbar-nav ms-lg-auto p-4 p-lg-0">
        <li class="nav-item px-3 px-lg-0 py-1 py-lg-4" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item px-3 px-lg-0 py-1 py-lg-4" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/prodotti">Prodotti</a>
        </li>
        <li class="nav-item px-3 px-lg-0 py-1 py-lg-4" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/carrello" [matBadge]="totalItem"
            >Carrello</a
          >
        </li>
        <li
          *ngIf="isRoleValidAndIdClienteValidi()"
          class="nav-item dropdown px-3 px-lg-0 py-1 py-lg-4"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <mat-icon>account_circle</mat-icon>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item not-hover">
              Benvenuto {{ nomeClienteBenvenuto }}
            </li>
            <li><a class="dropdown-item" routerLink="/profilo">Profilo</a></li>
            <li>
              <a class="dropdown-item" routerLink="/wishlist">Wishlist</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/profilo/recensioni"
                >Recensioni</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/profilo/ordini"
                >Storico ordini</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cambia-password"
                >Cambia password</a
              >
            </li>
          </ul>
        </li>
        <li
          *ngIf="isAdmin()"
          class="nav-item dropdown px-3 px-lg-0 py-1 py-lg-4"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <mat-icon>manage_accounts</mat-icon>
          </a>
          <ul *ngIf="isAdmin()" class="dropdown-menu">
            <li class="dropdown-item not-hover">
              Bentornato {{ adminUsername }}
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/dashboard"
                >Dashboard</a
              >
            </li>
            <li *ngIf="isAdminNotCliente()">
              <a class="dropdown-item" routerLink="/cambia-password"
                >Cambia Password</a
              >
            </li>
            <li *ngIf="isAdminNotCliente()">
              <a class="dropdown-item" routerLink="admin/associa-cliente"
                >Diventa Cliente</a
              >
            </li>
          </ul>
        </li>

        <li
          class="nav-item px-3 px-lg-0 py-1 py-lg-4"
          (click)="closeNavbar()"
          *ngIf="!isAuthenticated()"
        >
          <a class="nav-link" routerLink="/signin">Login</a>
        </li>
        <li
          class="nav-item px-3 px-lg-0 py-1 py-lg-4"
          (click)="closeNavbar()"
          *ngIf="isAuthenticated()"
        >
          <a class="nav-link" (click)="logout()" routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
