<div class="container d-flex flex-column container-wishlist">
  <div *ngIf="isLoading" class="loader-container">
    <app-loader></app-loader>
  </div>

  <!-- Introduzione dell'utente -->
  <div *ngIf="!isLoading && utente" class="welcome-message">
    <h3>Benvenuto, {{ utente.nome }} {{ utente.cognome }}!</h3>
    <p>Questa è la tua wishlist. Goditi gli articoli e facci sapere la tua esperienza con noi</p>
  </div>

  <!-- Aggiungi bottone per svuotare la wishlist -->
  <div *ngIf="wishlist.length > 0" class="clear-wishlist-btn-container">
    <button mat-raised-button color="warn" (click)="clearAllFromWishlist()">
      Svuota la Wishlist
    </button>
  </div>

  <div class="container-fluid d-flex flex-column container-filtri">
    <app-loader *ngIf="isLoading"></app-loader>

    <div class="row g-4 main-content">
      <div
        class="col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let prodotto of wishlist"
      >
        <app-card [prodotto]="prodotto" [responsive]="false">
          <div id="card-buttons">
            <button
              mat-fab
              extended
              (click)="addToCarrello(prodotto)"
              class="wishlist-button"
            >
              Aggiungi alla Wishlist
            </button>
            <button
              mat-fab
              extended
              (click)="removeFromWishlist(prodotto)"
              class="wishlist-button"
            >
              Rimuovi dalla Wishlist
            </button>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
