<div class="container d-flex flex-column container-wishlist">
  <div *ngIf="isLoading" class="loader-container">
    <app-loader></app-loader>
  </div>

  <!-- Bottone per svuotare tutta la wishlist, posizionato al centro sopra i prodotti -->
  <div *ngIf="wishlist.length > 0" class="clear-wishlist-btn-container">
    <button (click)="clearAllFromWishlist()">Svuota la wishlist</button>
  </div>

  <!-- Mostra la wishlist se i dati sono caricati -->
  <div *ngIf="!isLoading" class="row g-4 main-content">
    <div
      class="col-sm-12 col-md-6 col-lg-4 col-xl-4"
      *ngFor="let prodotto of wishlist"
    >
      <app-card [prodotto]="prodotto" [responsive]="true">
        <div id="card-buttons">
          <!-- I bottoni saranno disposti verticalmente ora -->
          <button
            mat-fab
            extended
            (click)="removeFromWishlist(prodotto)"
          >
            Rimuovi
          </button>
          <button
            mat-fab
            extended
            (click)="addToWishlist(prodotto)"
          >
            Maggiori info
          </button>
        </div>
      </app-card>
    </div>
  </div>
</div>
