#card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.clear-wishlist-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.clear-wishlist-btn-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.clear-wishlist-btn-container button:hover {
  background-color: #d32f2f;
}

.welcome-message {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.welcome-message h3 {
  font-size: 24px;
  color: #333;
}

.welcome-message p {
  font-size: 16px;
  color: #666;
}
