
<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!rc; else carrello"><app-pagina-carrello-vuoto></app-pagina-carrello-vuoto></div>

<ng-template #carrello>
  <h2>Riepilogo del tuo carrello</h2>

  <div class="container-sm" *ngIf="rc">
    <ul class="list-group-flush">
      <li class="list-group-item" *ngFor="let prodottoCarrello of prodottiCarrello">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <a (click)="dettagliProdotto(prodottoCarrello.prodotto?.idProdotto)">
                <img [src]="prodottoCarrello.prodotto.immagineProdotto" class="img-fluid rounded-start" alt="immagine da archivio">
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <a (click)="dettagliProdotto(prodottoCarrello.prodotto?.idProdotto)">
                  <h5 class="card-title"><span>{{prodottoCarrello.prodotto.titolo}}</span></h5>
                </a>
                <h6  class="card-title"><span>{{prodottoCarrello.prodotto.artista}}</span></h6>
                <p class="card-text">
                  <small class="text-body-secondary">Genere <span>{{prodottoCarrello.prodotto.genere}}</span></small>
                  
                  <small class="text-body-secondary">Formato <span>{{prodottoCarrello.prodotto.formato}}</span></small>
                </p>
                <div class="card-text">
                  <p class="text-body-secondary">Prezzo: {{prodottoCarrello.prodotto.prezzo | currency: "EUR" }}</p> 
                  <p>Totale articolo: {{prodottoCarrello.prodotto.prezzo * prodottoCarrello.quantita | currency: "EUR"}}</p>
                </div>
                <div class="button-container">
                  <div class="button-container">
                    <button mat-mini-fab aria-label="Pulsante rimuovi in articolo" (click)="rimuoviProdotto(prodottoCarrello.prodotto?.idProdotto)">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <span>{{prodottoCarrello.quantita}}</span>
                    <button mat-mini-fab aria-label="Pulsante aggiungi un articolo" (click)="aggiungiProdotto(prodottoCarrello.prodotto?.idProdotto)" [disabled]="prodottoCarrello.prodotto.quantita==0">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <button mat-mini-fab class="del-btn" aria-label="Pulsante elimina" (click)="eliminaProdotto(prodottoCarrello.prodotto?.idProdotto, prodottoCarrello.quantita)" >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
               </div>
            </div>
          </div>
        </div>
      </li>
      
    </ul>
    <div class="container totale my-5">
      <h4>Totale da pagare: <span>{{totale | currency:"EUR" }}</span></h4>
      <button class="del-btn" mat-fab extended (click)="svuotaCarrello()">
        <mat-icon>remove_shopping_cart</mat-icon>
        Svuota Carrello
      </button>
    </div>
    <button class="confirm-btn my-0" mat-fab extended (click)="ordina()">
      <mat-icon>shopping_cart</mat-icon>
      Acquista ora
    </button>
  </div>
</ng-template>

