h2 {
    margin-bottom: 20px;
    margin-left: 3%;
}

.container-sm {
    max-width: 540px;
}

ul {
    padding-left: 0rem;
}

.button-container, .totale, .card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.button-container > span {
    min-width: 70%;
    display: flex;
    justify-content: center;
}

.card-text {
    max-width: 70%;
}

.confirm-btn {
    margin-top: 25px;
    min-width: 100%;
}

.del-btn {
    color: #fff;
    background-color: firebrick ;
}

.card a {
    cursor: pointer;
}