<div class="container">
  <div class="container-header">
    <h2 class="my-3 text-center">Gestione clienti</h2>

    <h4 class="text-center mb-4">Inizia a cercare un cliente per:</h4>

    <div class="row bottoni g-2">
      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button mat-flat-button color="primary" (click)="cercaNome()">
          Nome
        </button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button mat-flat-button color="primary" (click)="cercaCognome()">
          Cognome
        </button>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button mat-flat-button color="primary" (click)="cercaComune()">
          Comune
        </button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button mat-flat-button color="primary" (click)="cercaProvincia()">
          Provincia
        </button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button mat-flat-button color="primary" (click)="cercaCap()">
          CAP
        </button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button mat-flat-button color="primary" (click)="cercaEmail()">
          Email
        </button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
        <button
          mat-flat-button
          [matMenuTriggerFor]="menu"
          id="filtro-ruoli-utente"
        >
          {{ ruoloSelezionato || "Ruolo Clienti" }}
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setRuolo('UTENTE')">Utente</button>
        <button mat-menu-item (click)="setRuolo('ADMIN')">Admin</button>
      </mat-menu>
    </div>

    <div class="d-flex justify-content-end">
      <button (click)="reset()" mat-flat-button class="reset-btn">
        <mat-icon class="d-inline-block align-middle">close</mat-icon> Reset
      </button>
    </div>
  </div>

  <div class="row pt-4">
    <p>
      {{
        clienti.length === 0
          ? "Nessun risultato trovato corrispondente ai criteri di ricerca"
          : clienti.length === 1
          ? "1 risultato trovato"
          : clienti.length + " risultati trovati"
      }}
    </p>
  </div>
  <div>
    <mat-accordion>
      <mat-expansion-panel
        hideToggle
        *ngFor="let cliente of clienti"
        class="list-group-item list-items"
      >
        <mat-expansion-panel-header class="d-flex align-items-center">
          <mat-panel-title class="w-5 d-flex justify-content-center">
            <div class="fw-bold" *ngIf="cliente.utente">
              <span> {{ cliente.nome }} {{ cliente.cognome }} </span>
            </div>
            <div class="fw-bold" *ngIf="!cliente.utente">Utente cancellato</div>
          </mat-panel-title>

          <mat-panel-description
            class="d-flex justify-content-center align-items-center"
          >
            <div *ngIf="cliente.utente" class="d-flex align-items-center">
              <span class="fw-bold">Username:</span>
              <div class="ms-2">{{ cliente.utente?.username }}</div>
            </div>
          </mat-panel-description>

          <div class="d-flex align-items-center">
            <button
              mat-mini-fab
              class="edit-btn m-2"
              aria-label="edit-btn"
              *ngIf="
                cliente.utente &&
                (!cliente.utente?.roles.includes('ADMIN') ||
                  cliente.idCliente === adminClienteId)
              "
              [disabled]="
                !cliente.utente ||
                (cliente.utente?.roles.includes('ADMIN') &&
                  cliente.idCliente !== adminClienteId)
              "
              (click)="
                $event.stopPropagation(); modificaCliente(cliente.idCliente)
              "
            >
              <mat-icon>{{
                cliente.idCliente === adminClienteId ? "security" : "edit_note"
              }}</mat-icon>
            </button>
            <button
              mat-mini-fab
              class="unavailable-btn m-2"
              aria-label="edit-btn"
              *ngIf="!cliente.utente"
              (click)="$event.stopPropagation()"
              data-bs-toggle="tooltip"
              title="Non è possibile eseguire operazioni su un utente cancellato"
            >
              <mat-icon> person_off </mat-icon>
            </button>

            <button
              mat-mini-fab
              class="admin-btn m-2"
              aria-label="admin-btn"
              *ngIf="
                cliente.utente &&
                cliente.utente?.roles.includes('ADMIN') &&
                cliente.idCliente !== adminClienteId
              "
              (click)="$event.stopPropagation()"
              data-bs-toggle="tooltip"
              title="Non è possibile effettuare operazioni su un altro admin"
            >
              <mat-icon>security</mat-icon>
            </button>

            <button
              mat-mini-fab
              class="del-btn m-2"
              aria-label="delete-btn"
              *ngIf="
                cliente.utente &&
                (!cliente.utente?.roles.includes('ADMIN') ||
                  cliente.idCliente === adminClienteId)
              "
              [disabled]="
                !cliente.utente ||
                (cliente.utente?.roles.includes('ADMIN') &&
                  cliente.idCliente !== adminClienteId)
              "
              (click)="
                $event.stopPropagation(); eliminaCliente(cliente.idCliente)
              "
            >
              <mat-icon>close</mat-icon>
            </button>

            <button
              mat-mini-fab
              class="admin-btn m-2"
              aria-label="admin-btn"
              *ngIf="
                cliente.utente &&
                cliente.utente?.roles.includes('ADMIN') &&
                cliente.idCliente !== adminClienteId
              "
              (click)="$event.stopPropagation()"
              data-bs-toggle="tooltip"
              title="Non è possibile cancellare un account di un altro admin"
            >
              <mat-icon>disabled_by_default</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>

        <div>
          <p *ngIf="!cliente.utente">
            <span class="fw-medium"> Nome e cognome: </span>
            {{ cliente.nome }} {{ cliente.cognome }}
          </p>
          <p *ngIf="cliente.utente">
            <span class="fw-medium">Email:</span> {{ cliente.utente?.email }}
          </p>
          <p *ngIf="cliente.utente">
            <span class="fw-medium">Ruolo:</span>
            {{ cliente.utente?.roles }}
          </p>
          <p><span class="fw-medium">Telefono: </span>{{ cliente.telefono }}</p>
          <p><span class="fw-medium">Via:</span> {{ cliente.via }}</p>
          <p><span class="fw-medium">Comune:</span> {{ cliente.comune }}</p>
          <p>
            <span class="fw-medium">Provincia: </span>{{ cliente.provincia }}
          </p>
          <p><span class="fw-medium">CAP:</span> {{ cliente.cap }}</p>
          <p>
            <span class="fw-medium">Cliente registrato dal: </span>
            {{ cliente.dataRegistrazione | date : "longDate" }}
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
