.nav-container {
  width: auto;
  height: 80vh;

  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}

.link-admin {
  cursor: pointer !important;
}

.link-admin:hover {
  background-color: #bbb;
}

.dashboard {
  width: 100%;
}

.mat {
  width: 25%;
}

.active {
  background-color: #a99a97;
}
