<div class="container-fluid">
  <section class="text-center">
    <div class="presentazione d-flex flex-column">
      <h1>Benvenuti nel nostro e-commerce di musica e collezionismo! 🎶</h1>
      <a routerLink="prodotti" class="acquisti">
          <h3>Inizia i tuoi acquisti</h3>
      </a>
    </div>
<div class="container">
    <div class="row">
      <div class="col-12 fs-5">
        <p>
          Scopri un mondo di suoni e immagini senza tempo: vinili, CD, DVD e
          cassette per ogni gusto musicale e cinematografico.
        </p>
        <p>
          Dall'intramontabile rock classico alle perle del jazz, dai film cult
          alle ultime uscite, troverai una selezione curata per veri
          appassionati.
        </p>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <app-carousel></app-carousel>
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-center mt-5"
        >
          <p>
            Ricerca Rapida Trova rapidamente ciò che cerchi grazie ai nostri
            filtri avanzati. Puoi facilmente ordinare i prodotti per artista,
            genere e formato, rendendo la tua esperienza d'acquisto più semplice
            e veloce.
          </p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 coupon">
          <p>
            Sconto con i Coupon Approfitta dei nostri coupon sconto per ottenere
            offerte speciali sui tuoi acquisti di dischi, vinili, CD e DVD.
          </p>
          <p>
            Un'opportunità imperdibile per risparmiare su tutta la nostra
            selezione musicale!
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
