.edit-btn {
  color: #fff;
  background-color: rgb(240, 189, 23);
  z-index: 999;
  margin: 1% auto;
  box-shadow: none;
  margin-right: 5em;
  margin: 1% auto;
  box-shadow: none;
}

.edit-btn-btn:hover {
  box-shadow: none;
}

.delete-btn {
  color: #fff;
  background-color: rgb(212, 2, 2);
  z-index: 999;
  margin: 1% auto;
  box-shadow: none;
  margin-right: 5em;
  margin: 1% auto;
  box-shadow: none;
}
