<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <!-- Sezione Chi Siamo -->
      <div class="col-md-3">
        <h5>Chi Siamo</h5>
        <p>
          Benvenuto su BetaDisk, il negozio online ideale per acquistare i
          migliori prodotti musicali a prezzi imbattibili.
        </p>
      </div>
      <div class="col-md-1"></div>
      <!-- Link Veloci -->
      <div class="col-md-3">
        <h5>Link Utili</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/" class="text-light text-decoration-none">Home</a>
          </li>
          <li>
            <a routerLink="/carrello" class="text-light text-decoration-none"
              >Carrello</a
            >
          </li>
        </ul>
      </div>

      <!-- Informazioni di Contatto -->
      <div class="col-md-4">
        <h5>Contattaci</h5>
        <p><i class="bi bi-geo-alt"></i> Via Roma, 12 Torino</p>
        <p><i class="bi bi-telephone"></i> 011 018 24311</p>
        <p><i class="bi bi-envelope"></i> betacomdisk&#64;betacom.it</p>
      </div>
    </div>

    <!-- Parte Inferiore del Footer -->
    <div class="text-center mt-3">
      <p class="mb-0">&copy; 2025 BetaDisk. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>
