/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: "Bricolage Grotesque", serif;
  overflow-x: hidden;
  background-color: #e1e5ee;
}

img[alt="logo"] {
  width: 30%;
  border-radius: 14px;
}

button[mat-mini-fab]:not(button[disabled]),
button[mat-fab]:not(button[disabled]) {
  color: #e1e5ee;
  background-color: #24324b;
}

.del-btn {
  background-color: rgb(212, 2, 2) !important;
}

.edit-btn {
  background-color: rgb(240, 189, 23) !important;
}

.check-btn {
  background-color: lightgreen !important;
}

.error-msg-input {
  font-size: 1em;
}
