.example-card {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

p {
  text-align: center;
}

.immagine-prodotto {
  height: 300px;
  width: 300px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  display: flex;
  justify-content: space-evenly;
}
