<div class="container-fluid d-flex flex-column container-filtri container">
  <h2 class="mb-5 text-center">Ecco i nostri articoli in vendita</h2>
  <app-loader *ngIf="isLoading"></app-loader>

  <div id="filtri-prodotti" class="row">
    <div class="col-sm-12 div-filtri">
      <ul class="nav nav-ul d-flex justify-content-center">
        <li class="nav-item titolo-filtro">Filtra per:</li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            (click)="getFormati()"
            >Formati</a
          >
          <ul class="dropdown-menu">
            <li *ngFor="let formato of listaFormati">
              <a class="dropdown-item" (click)="prodottoPerFormato(formato)">{{
                formato
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            (click)="getGeneri()"
            >Genere</a
          >
          <ul class="dropdown-menu">
            <li *ngFor="let genere of listaGeneri">
              <a class="dropdown-item" (click)="prodottoPerGenere(genere)">{{
                genere.toUpperCase()
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            (click)="getArtisti()"
            >Artisti</a
          >
          <ul class="dropdown-menu">
            <li *ngFor="let artista of listaArtisti">
              <a class="dropdown-item" (click)="prodottoPerArtista(artista)">{{
                artista.toUpperCase()
              }}</a>
            </li>
          </ul>
        </li>

        <li class="nav-link togli-filtri" *ngIf="filtriPresenti">
          <a (click)="togliFiltri()" role="button">
            Togli filtri
            <i class="bi bi-x-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row g-4 main-content">
    <div
      class="col-sm-12 col-md-6 col-lg-4 col-xl-4"
      *ngFor="let prodotto of data"
    >
      <app-card
        [prodotto]="prodotto"
        [responsive]="false"
        [cartBadge]="cartBadge"
        [isInWishlist]="wishlistId.includes(prodotto.idProdotto)"
        [isWishlistPage]="false"
        (toggleWishlist)="preferitiWishlist(prodotto)">
        <div id="card-buttons">
          <button
            [disabled]="prodotto.quantita == 0"
            mat-fab
            extended
            (click)="aggiungiProdotto(prodotto?.idProdotto)"
          >
            Acquista
          </button>
          <button
            mat-fab
            extended
            (click)="dettagliProdotto(prodotto?.idProdotto)"
          >
            Maggiori info
          </button>
        </div></app-card
      >
    </div>
  </div>
  <div class="paginator mt-5 d-flex justify-content-center">
    
    <div class="mx-6"><h5>sei a pagina {{paginaCorrente}}</h5></div>
    <nav class="mt-2">
      <ul class="pagination pagination-lg">
        <li class="page-item" [ngClass]="{'active': paginaCorrente == i+1}" *ngFor="let pagina of [].constructor(pagine); index as i">
         <span class="page-link" (click)="getTuttiProdottiVetrina(i+1)">{{i+1}}</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
