.example-card {
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.immagine-prodotto {
  height: 150px;
  width: 150px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}

.card-prezzo {
  font-size: 1.3em;
}
