<div class="container d-flex flex-column container-filtri">
  <div id="filtri-prodotti" class="row">
    <div class="col-sm-12">
      <ul class="nav flex-column nav-ul">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Formati</a
          >
          <ul class="dropdown-menu">
            <li *ngFor="let formato of listaFormati">
              <a class="dropdown-item" (click)="prodottoPerFormato(formato)">{{
                formato
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Genere</a
          >
          <ul class="dropdown-menu">
            <li *ngFor="let genere of listaGeneri">
              <a class="dropdown-item" (click)="prodottoPerGenere(genere)">{{
                genere.toUpperCase()
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Artisti</a
          >
          <ul class="dropdown-menu">
            <li *ngFor="let artista of listaArtisti">
              <a class="dropdown-item" (click)="prodottoPerArtista(artista)">{{
                artista.toUpperCase()
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="spinner">
    <ng-content><app-loader *ngIf="isLoading"></app-loader></ng-content>
  </div>
  <div class="row g-4 main-content">
    <div
      class="col-sm-12 col-md-6 col-lg-4 col-xl-4"
      *ngFor="let prodotto of data"
    >
      <app-card [prodotto]="prodotto" [responsive]="false">
        <div id="card-buttons">
          <button mat-fab extended>Acquista</button>
          <button
            mat-fab
            extended
            (click)="dettagliProdotto(prodotto.idProdotto)"
          >
            Maggiori info
          </button>
        </div></app-card
      >
    </div>
  </div>
</div>
