#card-buttons {
  display: flex;
  justify-content: space-around;
}

#filtri-prodotti {
  position: fixed;
  top: 150px;
  left: 0;
  width: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: start;
  align-items: start;
}

.main-content {
  padding-left: 5em;
  padding-right: 2em;
}

.titolo-filtro {
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 678px) {
  #filtri-prodotti {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    background-color: white;
  }

  .main-content {
    padding: 0;
    margin-top: 1em;
  }

  .titolo-filtro {
    margin-top: 0.5em;
  }
}

.togli-filtri {
  width: 125px;
}

@media screen and (min-width: 768px) {
  .container-filtri {
    margin-left: 7em;
  }
}
.container {
  min-height: 70vh;
  margin-top: 100px;
  margin-bottom: 40px;
}

@media (min-width: 678px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .titolo-filtro {
    margin-left: 1em;
  }
}

a {
  overflow: auto;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
}

.paginator {
  align-items: center;
}

.paginator span{
  background-color: #c7ccdb;
  color: #24324b;
  box-shadow: 3px 3px 8px #767b91;
  border: none;
  cursor: pointer;
}

.paginator span:hover {
  background-color: #24324b;
  color: #c7ccdb;
}

.paginator a {
  text-decoration: none;
}

.paginator .active span {
  background-color: #24324b;
  color: #c7ccdb;
}

.paginator .active span:hover {
  background-color: #c7ccdb;
  color: #24324b;
}

.paginator h5 {
  margin-right: 25px;
}
