<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let prodotto of data">
      <div class="card">
        <img
          src="{{ prodotto.immagineProdotto }}"
          class="example-card"
          alt="immagine-prodotto"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prodotto.titolo }}</h5>
          <p class="card-text">{{ prodotto.artista }}</p>
          <p class="card-text">{{ prodotto.form }}</p>
          <button mat-button>Acquista</button>
          <button mat-button>Maggiori info</button>
        </div>
      </div>
    </div>
  </div>
</div>
