<div class="d-flex justify-content-center">
  <form class="mb-5 signin" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <p class="form-title">Cancella Account</p>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Password attuale</mat-label>
        <input
          matInput
          [type]="passwordCorrenteVisibile ? 'text' : 'password'"
          formControlName="passwordCorrente"
          placeholder="Inserisci la tua password attuale"
        />
        <mat-icon matSuffix (click)="toggleVisibilitaPasswordCorrente()">
          {{ passwordCorrenteVisibile ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="passwordForm.get('passwordCorrente')?.hasError('required')"
        >
          La password attuale è obbligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Conferma Password</mat-label>
        <input
          matInput
          [type]="passwordDiConfermaVisibile ? 'text' : 'password'"
          formControlName="passwordDiConferma"
          placeholder="Conferma la tua password"
        />
        <mat-icon matSuffix (click)="toggleVisibilitaPasswordConferma()">
          {{ passwordDiConfermaVisibile ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="passwordForm.get('passwordDiConferma')?.hasError('required')"
        >
          La conferma della password è obbligatoria.
        </mat-error>
        <mat-error
          *ngIf="passwordForm.get('passwordDiConferma')?.hasError('minlength')"
        >
          La password deve contenere almeno 8 caratteri.
        </mat-error>
        <mat-error *ngIf="passwordForm.hasError('noMatch')">
          Le password non corrispondono.
        </mat-error>
      </mat-form-field>
    </div>

    <button
      mat-fab
      class="w-100"
      type="submit"
      [disabled]="!passwordForm.valid"
    >
      Conferma cancellazione account
    </button>

    <button mat-fab class="w-100 mt-3" routerLink="/">Torna alla home</button>

    <p *ngIf="messaggioErrore" class="error-message">
      {{ messaggioErrore }}
    </p>
  </form>
</div>
