.loader {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #515c8366;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin {
  animation: spin 1s linear infinite;
  width: 130px;
  height: 130px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
